pre {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100px;
    font-size: 3em;
}

.button-controll {
    width: 99%;
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;
}
.mobile-title {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    display: none;
}

body {
    background-color: rgb(23, 2, 27);
}

@media screen and (max-width: 900px) {
    br {
        display: none;
    }
    .button {
        height: 130px;
        font-size: 2.7em;
    }
    .button-controll {
        width: 85%;
    }
    .title {
        display: none;
    }
    .mobile-title { 
        display: block;
        margin: 0px;
    }
    pre {
        display: block;
        margin: 0px;
    }
    .div {
        display: none;
    }
    .button-controll {
        margin-left: 4%;
    }
}